* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --margin-left-text: 3%;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.portada {
    /* background: url("./img/portada_small_640h.jpg"); */
    height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

.portada img {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.portada nav {
    background: rgba(255, 255, 255, .2);
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 8%;
}

.portada nav ul {
    padding: 5%;

}

.portada nav ul a {
    text-decoration: none;
    color: black;
}

.portada nav ul li {
    list-style: none;
    margin: 10px;
    font-size: 200%;
    border-bottom: 1px solid black;
}

.servicios {
    background: linear-gradient(#FFFFFF, #E3BCCD);
}

.servicios h1 {
    background-color: rgb(232 243 245);
    padding: 3% 0;
    font-size: 2.5rem;
    margin: 0 3%;
}

.servicios p {
    font-size: 1.7rem;
    margin: 4% var(--margin-left-text);
}

.servicios img {
    width: 100%;
    margin-bottom: 5%;
}

.servicios .titulo_servicios {
    font-size: 1.8rem;
    margin-left: var(--margin-left-text);

}

.quien_soy {
    width: 100%;
    background: linear-gradient(#E3BCCD, #FFFFFF);
}

.quien_soy img {
    width: 65%;
    margin: 0 calc(35%/2);
    margin-bottom: 5%;
}

.quien_soy article {
    text-align: justify;
}

.quien_soy article p {
    font-size: 1.2rem;
    margin: 3% 5%;
}

.servicios img, .quien_soy img {
    box-shadow: 0px 5px 5px gray;
}

.titulo_section {
    margin-left: var(--margin-left-text);
    font-size: 1.8rem;
    margin: 0 3% 3%;
    padding-top: 2%;
}

.contacto {
    width: 100%;
}

.contacto .informacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .elemento_contacto {
    margin: 3% 0;
    width: 75%;
    background-color: rgb(235, 235, 235);
    padding: 2%;
}

.informacion p {
    font-size: 1.5em;
}
